apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonAnnotations:
    reloader.stakater.com/auto: "true"

namespace: cnpg-system

helmCharts:
  - name: cloudnative-pg
    repo: https://cloudnative-pg.github.io/charts
    version: "0.27.1"
    releaseName: cnpg-operator
    namespace: cnpg-system
    valuesFile: values.yaml

generatorOptions:
  disableNameSuffixHash: true

resources:
  - namespace.yaml

# patches:
#   - path: patches/metrics-server-extension.yaml


