apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonAnnotations:
  reloader.stakater.com/auto: "true"

helmCharts:
  - name: gitlab-runner
    repo: https://charts.gitlab.io
    version: 0.85.0
    releaseName: gitlab-runner
    namespace: ci
    valuesFile: values.yml

generatorOptions:
  disableNameSuffixHash: true
