apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonAnnotations:
  reloader.stakater.com/auto: "true"

helmCharts:
  - name: external-secrets
    repo: https://charts.external-secrets.io
    version: 1.3.1
    releaseName: external-secrets
    namespace: external-secrets
    valuesFile: values.yaml

resources:
  - resources/namespace.yaml
  - config/

generatorOptions:
  disableNameSuffixHash: true
